.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #BAB2B5;
}

.nav-menu {
    display: flex;
    font-weight: bold;
}

.active-link:hover {
    background: darkgray;
    color: white;
}

.nav-menu li{
    padding: 0 1rem;
}

.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
}

